apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: titanic-api
  labels:
    app: titanic-api
spec:
  selector:
    matchLabels:
      app: titanic-api
  endpoints:
    - port: http
      interval: 30s
      path: /metrics
