prometheus:
  prometheusSpec:
    retention: 15d
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 600m
        memory: 1Gi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: gp3
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    additionalScrapeConfigs:
      - job_name: 'titanic-api'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - titanic-api-staging
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            action: keep
            regex: titanic-api
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace

grafana:
  enabled: true
  adminPassword: admin
  resources:
    requests:
      cpu: 100m
      memory: 192Mi
    limits:
      cpu: 250m
      memory: 384Mi
  persistence:
    enabled: true
    storageClassName: gp3
    size: 10Gi
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
  dashboards:
    default:
      titanic-api:
        file: dashboards/titanic-api-dashboard.json

alertmanager:
  alertmanagerSpec:
    resources:
      requests:
        cpu: 75m
        memory: 96Mi
      limits:
        cpu: 150m
        memory: 192Mi
  config:
    global:
      resolve_timeout: 5m
    route:
      group_by: ['alertname', 'namespace', 'severity']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 12h
      receiver: 'null'
    receivers:
      - name: 'null'

kubeStateMetrics:
  resources:
    requests:
      cpu: 75m
      memory: 96Mi
    limits:
      cpu: 150m
      memory: 192Mi

nodeExporter:
  resources:
    requests:
      cpu: 75m
      memory: 48Mi
    limits:
      cpu: 150m
      memory: 96Mi

prometheusOperator:
  resources:
    requests:
      cpu: 150m
      memory: 192Mi
    limits:
      cpu: 300m
      memory: 384Mi
