replicaCount: 3

image:
  repository: ukemzyskywalker/titanic-api
  pullPolicy: IfNotPresent
  tag: "1.0.2"

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::ACCOUNT_ID:role/staging-titanic-api-role"

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"

autoscaling:
  minReplicas: 3
  maxReplicas: 15

secrets:
  dbCredentials:
    name: db-credentials
    key: database_url
