replicaCount: 5

image:
  repository: ukemzyskywalker/titanic-api
  pullPolicy: IfNotPresent
  tag: "v1.0.2"

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::ACCOUNT_ID:role/prod-titanic-api-role"

resources:
  requests:
    memory: "512Mi"
    cpu: "500m"
  limits:
    memory: "1Gi"
    cpu: "1000m"

autoscaling:
  minReplicas: 5
  maxReplicas: 20

secrets:
  dbCredentials:
    name: db-credentials
    key: database_url
