apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: titanic-api-staging
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/UkemeSkywalker/titanic-api.git
    targetRevision: main
    path: k8s/helm/titanic-api
    helm:
      valueFiles:
        - values-staging.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: titanic-api-staging
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  revisionHistoryLimit: 10
